# Set Up

## Config

In [21]:
import configparser
config = configparser.ConfigParser()
config.read("../../../env.ini")
data_home = config['DEFAULT']['data_home']
output_dir = config['DEFAULT']['output_dir']
local_lib = config['DEFAULT']['local_lib']

In [66]:
text_file =  f"{data_home}/austen/pg105.txt"

In [23]:
import pandas as pd

# Textblob

> TextBlob is a Python library for processing textual data. It provides a simple API for diving into common natural language processing (NLP) tasks such as part-of-speech tagging, noun phrase extraction, sentiment analysis, classification, and more.

> TextBlob aims to provide access to common text-processing operations through a familiar interface. You can treat TextBlob objects as if they were Python strings that learned how to do Natural Language Processing. 

[Source](https://textblob.readthedocs.io/en/dev/).

In [84]:
from textblob import TextBlob
from textblob import Blobber
from textblob.taggers import NLTKTagger

In [85]:
tb = Blobber(pos_tagger=NLTKTagger())

In [88]:
TB = tb(open(text_file, 'r').read())

In [127]:
SENTENCE = pd.DataFrame(dict(sent_str=[s.raw for s in TB.sentences]))
SENTENCE.index.name = 'sent_num'

In [131]:
SENTENCE['polarity'] = [s.polarity for s in TB.sentences]

In [134]:
SENTENCE['subjectivity'] = [s.subjectivity for s in TB.sentences]

In [178]:
# TB.sentences[100].ngrams(5) #__dir__()

In [163]:
# SENTENCE.plot.scatter('polarity', 'subjectivity');

In [161]:
TOKEN = pd.DataFrame(
    [(sent_num, token_num, pair[0], pair[1]) 
     for sent_num, sentence in enumerate(TB.sentences) 
     for token_num, pair in enumerate(sentence.tags)],
    columns=['sent_num', 'token_num', 'token_str', 'pos'])\
    .set_index(['sent_num', 'token_num'])

In [162]:
TOKEN

                    token_str  pos
sent_num token_num
0        0               ﻿The   NN
         1            Project  NNP
         2          Gutenberg  NNP
         3              EBook  NNP
         4                 of   IN
...                       ...  ...
3773     51                to   TO
         52              hear   VB
         53             about   IN
         54               new   JJ
         55            eBooks  NNS

[86902 rows x 2 columns]

In [107]:
TB.sentences[100].word_counts

defaultdict(int,
            {'lady': 1,
             'russell': 1,
             's': 1,
             'had': 1,
             'no': 1,
             'success': 1,
             'at': 1,
             'all': 1,
             'could': 1,
             'not': 2,
             'be': 2,
             'put': 1,
             'up': 1,
             'with': 1,
             'were': 1,
             'to': 1,
             'borne': 1})

In [111]:
TB.sentences[100].parse().split()

[[['Lady', 'NNP', 'B-NP', 'O'],
  ['Russell', 'NNP', 'I-NP', 'O'],
  ["'", 'POS', 'O', 'O'],
  ['s', 'PRP', 'B-NP', 'O'],
  ['had', 'VBD', 'B-VP', 'O'],
  ['no', 'DT', 'B-NP', 'O'],
  ['success', 'NN', 'I-NP', 'O'],
  ['at', 'IN', 'B-PP', 'O'],
  ['all', 'DT', 'O', 'O'],
  [':', ':', 'O', 'O'],
  ['could', 'MD', 'B-VP', 'O'],
  ['not', 'RB', 'I-VP', 'O'],
  ['be', 'VB', 'I-VP', 'O'],
  ['put', 'VB', 'I-VP', 'O'],
  ['up', 'IN', 'B-PP', 'B-PNP'],
  ['with', 'IN', 'I-PP', 'I-PNP'],
  [',', ',', 'O', 'O'],
  ['were', 'VBD', 'B-VP', 'O'],
  ['not', 'RB', 'B-ADVP', 'O'],
  ['to', 'TO', 'B-PP', 'O'],
  ['be', 'VB', 'B-VP', 'O'],
  ['borne', 'VBN', 'I-VP', 'O'],
  ['.', '.', 'O', 'O']]]